ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon;
TARGETED_DEVICE_FAMILY = 1;
EXCLUDED_ARCHS_CURRENT_PLATFORM_SUFFIX_iphonesimulator = arm64 arm64e armv7 armv7s armv6 armv8;
EXCLUDED_ARCHS = i386 armv7 $(EXCLUDED_ARCHS_CURRENT_PLATFORM_SUFFIX_$(PLATFORM_NAME));
VALIDATE_WORKSPACE = YES;
IPHONEOS_DEPLOYMENT_TARGET = 11.0;