.DS_Store
*.map
*.ts
!*.d.ts
tsconfig.json
node_modules/*
scripts/*
platforms/android/*
!platforms/android/include.gradle
!platforms/android/*.aar
!platforms/android/*.jar
platforms/ios/WikitudeSDK.framework/*.sh

WikitudeSDK*.zip